/* ================Nav part Start================= */
.navbar{
  padding: 30px 0;
}

.menu_button a{
  background: #E5745D;
  padding: 26px 44px;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: white;
  position: relative;


}


.menu_button a::after{
  position: absolute;
  content: "";
  width: 90%;
  height: 79%;
  left: 9px;
  top: 9px;
  border: 2px solid white;

}

.nav-link{
  color: #00413D;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-link:hover{
  color: #E5745D;
}

.navbar-nav {
  column-gap: 50px;
}
/* ================Nav part End================= */
/* ================Banner part Start================= */

.banner{
  background: #00413D;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  

}

.banner .overlay{
  z-index: 1;
  width: 48%;
  height: 100%;
  position: absolute;
  background-image:url(../Img/banner_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  right:-48%;
  transition: .8s;
  z-index: -1;
  
}

.banner:hover .overlay{
  overflow: visible;
  right: 0;
  
  
}

.banner h1{
  color: #ffffff;
  font-size: 100px;
  font-family: "Vollkorn", serif;
  font-weight: 500;
  padding-top: 221px;
  z-index:200 !important;
}
.banner h1 span{
  display: block;
}

.banner p{
  color: rgba(255, 255, 255, 0.5);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 675px;
}

.banner p span{
  color: #ffffff;
}


.banner .banner_button{
  padding-bottom: 221px;
  padding-top: 50px;
}

/* ================Banner part End================= */

/* ================Service part Start================= */

.service .service_tag{
display: flex;
position: relative;
justify-content: center;
align-items: center;
padding-top: 220px;


}

.service_line{
  margin: 0 12px;
  width: 50px;
  height: 2px;
  background: #E5745D;
  position: relative;
}
.service_possition{
  position: relative;
}
.service_posstion_div{
  position: absolute;
  top: -7px;
  left: -73px;
}
.service_line1::before{
  content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #E5745D;
    top: -3px;
    right: -2px;
    border-radius: 50%;
}

.service h3{
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 18px;
  color: #E5745D;
}

.service_header{
  display: flex;
  justify-content: center;
  align-items: center;

}
.service_header h1{
  padding-top: 11px;
  text-align-last: center;
  width: 435px;
  font-family: "Vollkorn", serif;
  font-weight: 500;

}

.service .row{
  padding-top: 40px;
  width: 100% !important;
}


.service .card{
  width: 100% !important;
  border: none;
  -webkit-box-shadow: 5px 3px 16px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 5px 3px 16px -4px rgba(0,0,0,0.44);
   box-shadow: 5px 3px 16px -4px rgba(0,0,0,0.44);

}

.service .card img{
  width: 20%;
  padding-top: 35px;
}
.service .card .card-title{
  padding-top: 25px;
  font-family:"Vollkorn", serif; 
  font-weight: 800;
  font-size: 24px;
}
.service .card .card-text{
  padding-top: 15px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #00413D !important;
}

.service .card .fa-solid {
  color:rgba(0, 0, 0, 0.7);
  padding-top: 30px;
  font-size: 28px;
  padding-bottom: 50px;
  
  
}
/* ================Service part End================= */

/* ================About part Start================= */

.about .about1{
  display: flex;
  gap: 30px;
  padding-top: 120px;
}

.about2{
  width: 70%;
  height: 480px;
  background-image:url(../Img/flower1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about3{
  width: 30%;
  height: 480px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about4{
  height: 50%;
  background-image:url(../Img/flower2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about5{
  height: 50%;
  background-image:url(../Img/flower3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_left{
  padding-top: 149px;
  display: flex;
  gap: 10px;
  align-items: center;
 
}

.about_header{
  font-family: "Vollkorn", serif;
  font-size: 18px;
  font-weight: 400;
  color: #E5745D;
}
.about_left  .about_left_hight{
 width: 40px;
 height: 2px;
 background: #E5745D;
 position: relative;
 
}

.about_left_hight::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #E5745D;
  border-radius: 50%;
  top: -4px;
  left: 35px
  
}

.about_left_2 h1{
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 500;
  padding-top: 11px;
}
.about_left_2 p{
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 4px;
}

.about_button{
  padding-top: 50px;
}
/* ================About part End================= */


/* ================Skill part Start================= */
.skill_card{
  padding-top: 80px;
}
.skill .skill_card1{

  -webkit-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
 
  
  
}
.skill_card_top{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.skill_card_top1{
  
  height: 167px;
  width: 167px;
  border: 4px solid #E5745D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.skill_card_top h1{
  font-family: "Vollkorn", serif;
  font-size: 26px;
  font-weight: 600;
  color: #00413D;
}
.skill_card_top1 h2{
  color: #E5745D;
  font-family: "Vollkorn", serif;
  font-size: 34px;
  font-weight: 600;
}



/* ================Skill part End================= */


/* ================Recent Project part Start================= */ 

.recent .slider {
  display: flex;
  justify-content: end;
}
.recent .header h1{
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 500;
  padding-top: 8px;
}
.recent .slider .fa-arrow-left{
  padding:15px;
  border: 1px solid rgba(0, 0, 0,0.1);
  transition: .6s;
}

.recent .slider .fa-arrow-right{
  padding:15px;
  border: 1px solid rgba(0, 0, 0,0.1);
  transition: .6s;
}
.recent .slider .fa-arrow-left:hover{
  background: #E5745D;
  color: #ffffff;
}
.recent .slider .fa-arrow-right:hover{
  background: #E5745D;
  color: #ffffff;
}
.recent_card{
  padding-top: 40px;
}
.recent .card{
  width: 100% !important;
  border: none;
  -webkit-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
}

.card-img, .card-img-top{
  width: 100%;
  height: 270px;
}

.recent .card-body h6{
  font-family: "Vollkorn", serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  color:#E5745D;
}

.recent .card-body h3{
  font-family: "Vollkorn", serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 10px;
  color: #00413D;
}
.recent .card-body p{
  font-family: "Jost", sans-serif;
  font-size:16px;
  font-weight: 400;
  padding-top: 10px;
  color: #00413D;
}
.recent .card-body .view{
  font-family: "Jost", sans-serif;
  font-size:18px;
  font-weight: 400;
  padding-top: 24px;
  color: #00413D;
}

.recent_button{
  padding-top: 60px;
  text-align: center;
}
/* ================Recent Project part End================= */


/* ================ Protfolio part Start================= */

.protfolio .protfolio_line{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profotlio .protfolio_line .about_left{
  padding-top: 120px;
}

.protfolio_cnt h1{
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 500;
  padding-top: 10px;
  color: #00413D;
  text-align: center;
}

.protfolio_cnt_nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.protfolio_cnt_nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.protfolio_cnt_nav ul li a{
    text-decoration: none;
    font-family: "Vollkorn", serif;
    font-size:16px;
    font-weight: 400;
    color: #00413D;
    
}

.li_line{
  position: relative;
}
.line_titel{
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 25px;
  left: 2px;
  background: #E5745D;
}

.protfolio .row{
  row-gap: 20px;

}
.protfolio .card{
  padding-top: 420px;
  width: 100%;
  background: #C4C4C4;
  transition: .5s;
  position: relative;
  
}

.protfolio_back .card_arrow{
  position: absolute;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  color: #E5745D;
  right: 30px;
  top: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;

}


.protfolio .card:hover .card_arrow{
  opacity: 1;
}

.protfolio .card:hover{
background: #00413D;
}
.profotlio .row{
  row-gap: 20px;
}
.profolio_padding{
  padding-top: 40px;
}

.protfolio_card .card-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: end;
  display: flex;
  flex-direction: column;
}
.protfolio_card .card-body{
  background: #00413D;
  
  align-items: flex-start;
}

.protfolio_card .card-body h5{
    font-family: "Vollkorn", serif;
    font-size:24px;
    font-weight: 600;
    color: #ffffff;
}
.protfolio_card .card-body p{
    font-family: "Jost", sans-serif;
    font-size:16px;
    font-weight: 400;
    color: #ffffff;
}


/* ================ Protfolio part End================= */

/* ================ Testimonial Part Start================= */
.testimonial{
  margin-top: 120px;
  background: #F9F4F1;
}

.testimonial .about_left{
  padding-top: 120px;
}
.testimonial .clint_testi{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial h1{
    text-align: center;
    font-family: "Vollkorn", serif;
    font-size: 50px;
    font-weight: 500;
    color: #00413D;
    
}

.testimonial .row{
  padding-top: 40px;
}

.testimonial .testi_right{
  background: #ffffff;
  padding: 30px 40px;
  position: relative;
 
}
.testimonial .testi_right p {
  margin: 0;
}


.testi_right_line{
  position: absolute;
  width: 100%;
  height: 7px;
  background: #E5745D;
  right: 0px;
  top: 0px;
}

.testi_right_img{
  position: absolute;
  width: 100%;
  height: 100%;
  right: -55px;
  top: 118px;
}

.testi_reviwe{
  display: flex;
}

.testi_reviwe_left{
  width: 30%;
  padding-top: 30px;
  padding-left: 59px;
}
.testi_reviwe ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.testi_reviwe_right{
  padding-top: 30px;
}

.testi_reviwe_right h1{
  font-family: "Vollkorn", serif;
  font-size: 20px;
  font-weight: 600;
  color: #00413D;
}
.testi_reviwe_right h4{
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #00413D;

}
.testi_reviwe_right i{
  
  color: #FF9F3F;

}

.testimonial_dot{
  padding-bottom: 72px;
}

.testimonial_dot ul{
  padding-top: 87px;
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  color: #D9D9D9;
  
  
}

.testimonial_dot ul li{
 width: 8px;
 height: 8px;
}

.dot_position{
  position: relative;
  
}

.dot_possiton1{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #E5745D;
  right: 17px;
  top: 8px;
  border-radius: 50%;
  

}
/* ================ Testimonial Part End================= */


/* ================ Contact Part Start================= */

.contact_part{
  padding-top: 108px;
}
.contact_part .one{
  width: 40%;
}

.contact_part .about_left{
  padding-top: 47px;
}

.contact_right{
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 400;
  color: #00413D;
}

.contact_left{
  height: 586px;
  width: 100%;
  background-image: url(../Img/flower4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact_part .two{
  width: 60%;
}
.contact_part .contact_right .row{
  column-gap: 70px;
}

.contact_right h1{
  padding-top: 11px;
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 400;
  color: #00413D;
}
.form-control{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
  border-radius: 0;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 65, 61,0.7);
}

.contact_part .col{
  padding: 0;
  display: flex;
  column-gap: 94px;
}

.contact_part .col input{
  padding: 0 ;
  margin-left:14px;
  padding-bottom: 4px;

}

.contact_form{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}

.contact_form .fix{
  margin-left:-11px;
}

.contact_button{
  padding-top: 50px;
}
/* ================ Contact Part End================= */

/* ================ Blog Part Start================= */


.blog .blog_line{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 127px;
}

.blog .about_left{
  padding: 0;
}

.blog h1{
  padding-top: 11px;
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 500;
  color: #00413D;
  text-align: center;
}
.blog .row{
  padding-top: 40px;
}
.blog .card{
  border: none;
  width: 100%;
  -webkit-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
  box-shadow: 6px 0px 26px 2px rgba(0,0,0,0.06);
}

.blog .card_flex{
  display: flex;
  justify-content: space-between;
}

.card_flex .card_flex_left{
  padding-top: 11px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E5745D;
}
.card_flex .card_flex_right{
  padding-top: 11px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #00413D;
}

.blog .card h5{
  padding-top: 14px;
  font-family: "Vollkorn", serif;
  font-size: 24px;
  font-weight: 500;
  color: #00413D;
  padding-bottom: 11px;
}
.blog .card p{
 
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00413D;
  padding: 0;
  margin: 0;
}

.card .read h4{
  padding-top: 24px;
  padding-bottom: 30px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #00413D;
  margin: 0;
}


/* ================ Blog Part End================= */